.delete-product {
    width: fit-content;
    height: fit-content;
    margin: 0;
    background-color: #E9ECEF;
}

.delete-product:hover {
    background-color: var(--color-pink-1);
    color: #fff;
    width: fit-content;
    height: fit-content;
}